.userData{
    background-color: var(--amarilloClaro);
}

.userDataNumbers{
    background-color: white;
}

.userDataNumbers {
    background-color: var(--violeta);
    color: white;
    font-weight: 500;
}