


/* Input with bottom border only */
.input-bottom-border {
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0;
    border-bottom-width: 1px;
    border-color: #ccc;
}

/* Centering the buttons */
.btn-block {
    margin-left: auto;
    margin-right: auto;
}

